body { max-width: 100vw;
}
header {
       
    background-color: rgba(11,109,109,0.738);
            color : black;
            text-align : center;
            max-width : 800px;
            margin : 0 auto;
            padding : 16px;
    
        main{
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(72, 131, 233);
            color: black;
            margin: 0 auto;
            padding: 16px;
        }
        
        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            border: 1px solid darkblue;
            margin: 16px;
            gap: 16px;
            padding: 16px;
            flex: 1 1 25%;

        }
        img{
            width: 88px;
            height: 88px;
        }
        .aricle-autor{
            font-weight: bold;
        }
        .direitos{
            text-align: center;
            color: rgb(0, 0, 84)
        }
    }
